{% extends 'layout.html' %}

{% block body %}
  <h1>About Us</h1>
  <p>E-ZPass® is an electronic toll collection system, which takes cash, coins and toll tickets out of the toll collection process. Instead, drivers establish an account, prepay tolls and attach a small electronic device to their vehicles. Tolls are automatically deducted from the prepaid account as an E-ZPass® customer passes through the toll lane.</p>
  <p>Click <a href="https://www.e-zpassny.com/en/about/csc.shtml">Customer Service Center locations</a> for locations and hours.</p>
{% endblock %}